body {
    background-image: url(../images/cover.png);
    font-family: 'EB Garamond', serif;
}

.header {
    color: white;
    font-size: 120px;
}

.header-part-two {
    color: white;
    font-size: 130px;
}

.enter-button {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: transparent;
    opacity: 0.8;
    font-size: 20px;
    transition: opacity 0.2s ease-in;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition: transform .5s ease;
}

.enter-button:hover {
    opacity: 1;
    transform: scale(1.03);
}