body {
    font-family: 'EB Garamond', serif;
    /* background-color: #d3e7fd; */
}

label {
    font-size: 18px;
}

.footer-header {
    color: white;
    font-size: 25px;
}

.main-head {
    height: 150px;
    background: #ffffff;

}

.sidenav {
    height: 100%;
    background-color: #061A40;
    overflow-x: hidden;
    padding-top: 20px;
}

.form-control {
    color: black;
    background: transparent;
    border: transparent;
    border-radius: 0;
    border-bottom: 2px solid black;
    outline: none !important;
}


.main {
    padding: 0px 10px;
}

.header {}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }

    .logo {
        width: 150px;
        /* margin-left: 30px; */
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 20%;
    }

    .register-form {
        margin-top: 20%;
    }

    .logo {
        width: 150px;
        /* margin-left: 50px; */
    }
}


.login-main-text {
    /* margin-top: 100px; */
    /* padding: 60px; */
    /* color: #fff; */
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #061A40 !important;
    color: #fff;
    outline: none !important;
}

.btn-secondary {
    background-color: #fc6f5c !important;
    color: #fff;
    outline: none !important;
    border: transparent;
}

.login-main-text {
    padding: 165px;
    /* margin-top: 35%; */
    /* padding: 60px; */
    /* color: #fff; */
}

.logo {
    width: 120px;
}

@media (min-width: 361px) and (max-width: 767px) {
    .logo {
        /* margin-top: 100px !important; */
    }

    .login-main-text {
        padding: 100px;
        /* padding-top: -20px; */
        /* margin-top: 35%; */
        /* padding: 60px; */
        /* color: #fff; */
    }


}

@media (max-width: 360px) {

    /* .logo {
        width: 150px;
        margin-left: 25px;
    } */
    .login-main-text {
        padding: 80px;
        /* margin-top: 35%; */
        /* padding: 60px; */
        /* color: #fff; */
    }

}

@media (min-width: 768px) and (max-width: 841px) {
    .login-main-text {
        padding: 80px;
        /* margin-top: 35%; */
        /* padding: 60px; */
        /* color: #fff; */
    }

}

@media (min-width: 842px) and (max-width: 1025px) {
    .login-main-text {
        padding: 80px;
        /* margin-top: 35%; */
        /* padding: 60px; */
        /* color: #fff; */
    }

}