<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Education</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min copy 3.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="mini-logo.png">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <a class="navbar-brand" href="main.html"><img class="logo" src="logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#community">Community<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#programs">Schedule<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#about">About<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-start mb-3 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link btn subscribe-btn" href="register-two.html">Log in<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">

        <div class="header-container mb-5">
            <h1 class="header pl-5 ml-5 pt-5">Bu gune</h1>
            <h1 class="header-part-two pl-5 ml-4 mb-5 pb-5">Teyin olunan dersler.</h1>
            <div class="programs-container mb-5 mt-5 pt-5" id="programs">
                <!-- <h2 class="programs-header pb-3">Dersler</h2> -->
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card">
                                <h2 class="programs-h4">Riyaziyyat</h2>
                                <p class="time">Kamil Muellim</p>
                                <p class="time">15:30</p>
                                <!-- <h4 class="f-c-price">3000₼</h4> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card s">
                                <h2 class="programs-h4">Python dersleri</h2>
                                <p class="time">Ziya Muellim</p>
                                <p class="time">18:30</p>
                                <!-- <h4 class="f-c-price mt-1">2000₼</h4> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card ss">
                                <h2 class="programs-h4">Ingilis dili</h2>
                                <p class="time">Arzu Muellim</p>
                                <p class="time">08:00</p>
                                <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card sss">
                                <h2 class="programs-h4">Kimya</h2>
                                <p class="time">Sevinc Muellime</p>
                                <p class="time">20:30</p>
                                <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        </div>

        

            <div class="programs-container mt-3 mb-5" id="programs">
                <h2 class="programs-header pb-3">Imtahanlar</h2>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card-two">
                                <h3 class="programs-h4">Statistika. Imtahan</h3>
                                <p class="t-time">20/08/2020 14:00</p>
                                <small class="f-c-small">Aktiv deyil</small>
                                <!-- <h4 class="f-c-price">3000₼</h4> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card-two">
                                <h3 class="programs-h4">Algoritmler. Imtahan</h3>
                                <p class="t-time">07/09/2020 11:00</p>
                                <small class="f-c-small">Aktiv deyil</small>
                                <!-- <h4 class="f-c-price mt-1">2000₼</h4> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card-two">
                                <h3 class="programs-h4">Listening. Imtahan</h3>
                                <p class="t-time">14/09/2020 11:00</p>
                                <small class="f-c-small">Aktiv deyil</small>
                                <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                            <div class="programs-card-two">
                                <h3 class="programs-h4">C++. Imtahan</h3>
                                <p class="t-time">14/09/2020 11:00</p>
                                <small class="f-c-small">Aktiv deyil</small>
                                <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="programs-container mt-3 mb-5" id="programs">
                    <h2 class="programs-header pb-3">Tasklar</h2>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">1. Butun 5-e bolunen reqemlerin cemi.</h3>
                                    <p class="task-time" id="s">Aktivdir:   20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price">3000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">2. Iki deyiwenli tenlik.</h3>
                                    <p class="task-time" id="ss">Aktivdir:  20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">3. Matriksin en boyuk elementi.</h3>
                                    <p class="task-time" id="sss">Aktivdir: 20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">2000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">4. Matriksin en kicik elementi.</h3>
                                    <p class="task-time" id="ssss">Aktivdir:    20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">5. Matriksi sort ed.</h3>
                                    <p class="task-time" id="sssss">Aktivdir:   20/08/2020/14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="final-container text-center">
                        <div class="col-12">
                            <img src="mini-logo.png" alt="" class="footer-logo mt-3 mb-3">
                        </div>
                    </div>
                    <div class="final-container text-center">
                        <div class="col-12">
                            <p class="footer-header">E-Education.</p>
                            <p class="copyright">Copyright © E-Education. Privacy Policy.</p>
                            <p class="copyright-two">All Rights Reserved.</p>
                        </div>
                    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
</body>

</html>