{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}

<div class="main">
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-10">
                <div class="first text-center">
                    <img class="profile mt-5" src="img/profile-photo.webp"
                        style="border-radius: 50%; width: 200px; height: 200px;">

                </div>
                <div class="second text-center ml-5 mr-5 pb-5" id="user">
                    <h3 class="username">Murad Aghazada</h3>
                    <p class="username" style="margin-bottom: 5px;">muradaghazada</p>
                    <i class="status fa fa-circle" style="color: greenyellow;"></i>
                    <p class="status pb-5" style="display: inline;">Online</p>
                    <!-- <p class="">Email: <a href="#profile">kenan@example.com</a></p> -->

                </div>
                <div class="third mt-4 mb-5" id="info">
                    <h2 class="programs-header">Info</h2>
                    <p class="ml-4">Ad: Murad</p>
                    <p class="ml-4">Soyad: Aghazada</p>
                    <p class="ml-4">Email: <a href="#profile">kenan@example.com</a></p>
                </div>
                <!-- <div class="lesson" id="programs">
                    <h2 class="programs-header pb-3">Dersler</h2>
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                                <div class="programs-card">
                                    <h3 class="programs-h4">Birinci ders</h3>
                                    <h4 class="f-c-price">3000₼</h4>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                                <div class="programs-card" id="s">
                                    <h3 class="programs-h4">İkinci ders</h3>
                                    <h4 class="f-c-price mt-1">2000₼</h4>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                                <div class="programs-card" id="s">
                                    <h3 class="programs-h4">Üçuncü ders</h3>
                                    <h4 class="f-c-price mt-1">1000₼</h4>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                                <div class="programs-card" id="s">
                                    <h3 class="programs-h4">Dorduncu ders</h3>
                                    <h4 class="f-c-price mt-1">1000₼</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="group pt-5 ml-5 mr-5"></div>
                <div class="mb-5" id="programs">
                    <h2 class="programs-header pb-3">Qruplar</h2>
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                                <div class="programs-card">
                                    <h3 class="programs-h4">A1-B1 Qruppu</h3>
                                    <!-- <h4 class="f-c-price">3000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-lg-3 mb-4 mb-lg-0">
                                <div class="programs-card">
                                    <h3 class="programs-h4">A2-B2 Qruppu</h3>
                                    <!-- <h4 class="f-c-price mt-1">2000₼</h4> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="programs-container mt-3 mb-5" id="programs">
                    <h2 class="programs-header pb-3">Tasklar</h2>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">1. Butun 5-e bolunen reqemlerin cemi.</h3>
                                    <p class="task-time" id="s">Aktivdir:   20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price">3000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">2. Iki deyiwenli tenlik.</h3>
                                    <p class="task-time" id="ss">Aktivdir:  20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">3. Matriksin en boyuk elementi.</h3>
                                    <p class="task-time" id="sss">Aktivdir: 20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">2000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">4. Matriksin en kicik elementi.</h3>
                                    <p class="task-time" id="ssss">Aktivdir:    20/08/2020 14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                                </div>
                            </div>
                            <div class="col-12 mb-4 mb-lg-2">
                                <div class="programs-card-three">
                                    <h3 class="task-names">5. Matriksi sort ed.</h3>
                                    <p class="task-time" id="sssss">Aktivdir:   20/08/2020/14:00 - 21/08/2020 14:00</p>
                                    <!-- <h4 class="f-c-price mt-1">1000₼</h4> -->
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-md-2" id="right">
                <div class="divide">
                    <i class="fas fa-user mr-3" style="color: white; font-size: 24px;"></i>
                    <a href="profile.html" style="color: whitesmoke;">Profil</a>
                    <br />
                </div>
                <div class="divide">
                    <i class="fas fa-table mr-3" style="color: white; font-size: 24px;"></i>
                    <a href="cabinet-absence.html" style="color: whitesmoke;">Davamiyyet</a>
                    <br />
                </div>

            </div>
        </div>

            
            
        </div>
        <div class="final-container text-center">
            <div class="col-12">
                <img src="mini-logo.png" alt="" class="footer-logo mt-3 mb-3">
            </div>
        </div>
        <div class="final-container text-center">
            <div class="col-12">
                <p class="footer-header">E-Education.</p>
                <p class="copyright">Copyright © E-Education. Privacy Policy.</p>
                <p class="copyright-two">All Rights Reserved.</p>
            </div>
        </div>
    </div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="js/main.js"></script>