{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register-two.css') }}">
{% endblock %}

{% block content %}
<div class="sidenav">
   <div class="login-main-text text-center">
      <h1 class="header logo text-center">Logo</h1>
      <!-- <a href="application.html"><img src="black-peach.png" alt="" class="logo text-center"></a> -->
   </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">
         <form method="POST" action="/user">
            <div class="form-group">
               <label>First Name</label>
               <input type="text" class="form-control" name="first_name">
            </div>
            <div class="form-group">
               <label>Last Name</label>
               <input type="text" class="form-control" name="last_name">
            </div>
            <div class="form-group">
               <label>Email</label>
               <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-black">Login</button>
            <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
         </form>
      </div>
   </div>
</div>
{% endblock %}