<footer class="page-footer" >
    <div class="final-container text-center">
        <div class="col-12">
            <img src="../../static/images/mini-logo.png" alt="" class="footer-logo mt-3 mb-3">
        </div>
    </div>
    <div class="final-container text-center">
        <div class="col-12">
            <p class="footer-header">E-Education.</p>
            <p class="copyright">Copyright © E-Education. Privacy Policy.</p>
            <p class="copyright-two">All Rights Reserved.</p>
        </div>
    </div>
</footer>
