    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    
        <a class="navbar-brand" href="#"><img class="navbar-brand logo"  src="../../static/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dərs</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Jurnal</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tapşırıq</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Vəsait</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-start mb-3 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Qrup</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn subscribe-btn"  href="#" >
                   Çıxış
                    <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            
        </div>
    </nav>
