body {
    font-family: 'EB Garamond', serif;
}
.name {
    color: white;
    margin-top: 10px;
    /* margin-left: 60px; */
}
.control-btn {
    border: 1px solid #E6E6E6;
    margin: 8px;
}
.lesson-btn {
    border: 1px solid #E6E6E6;
    background-color: white;
    border-radius: 5px;
}
.chat {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    height: 100px;
}
.chat-text {
    display: none;
}
.abel {
    display: none;
}
.cash {
    display: none;
}
/* .btnn {
    border: 1px solid #E6E6E6;
    border-radius: 50%;
}
.btn-place {
    border: 1px solid #E6E6E6;
    border-radius: 50%;
} */